.movie-card {
    margin: 1rem 0;
    background-color: #e3e9f3de;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

    .des-container {
        width: 300px;
        display: flex;
        justify-content: space-between;

        .details {
            display: flex;
            flex-direction: column;
            width: 70%;
            padding: 0 .5rem;
    
            span {
                color: #9CA3AF;
                font-size: 14px;
            }
            h3 {
                margin: -.0.3rem 0;
                font-size: 14px;
            }
        }
        .button-holder {
            width: 30%;
            text-align: end;
            padding-right: .2rem;

            button {
                padding: .2rem .5rem;
                background-color: #428bca;
                color: #fff;
                border: 1px solid #428bca;
                cursor: pointer;
                border-radius: 5px;
            }
        }
    }

}