.home {
    width: 70%;
    margin: 0 auto;
    font-family: 'Courier New', Courier, monospace;

    .top-bg {
        background-image: url('../../assets/johnwick.jpeg');
        height: 300px;
        object-fit: cover;

        .input-fild {
            width: 40%;
            margin: 0 auto;
            padding-top: 1rem;
            position: relative;

            @media (max-width: 900px) {
                width: 90%;
            }

            input {
                width: 90%;
                padding: .8rem 1rem;
                border-radius: 10px;

            }
        }
    }
    .title {
        margin-top: 3rem;
        color:  #428bca;
    }
    .movie-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 20px;
        justify-content: space-between;
    }

    .loading {
        position: absolute;
        top: 3.5rem;
        left: 45%;
        font-size: 20px;
        color: #fff;
    }

    .search-movies-container {
        background-color: #fff;
        width: 40%;
        height: 300px;
        position: absolute;
        top: 5rem;
        left: 30%;
        overflow-y: scroll;
        border-radius: 10px;

        @media (max-width: 900px) {
            width: 80%;
            left: 15%;
        }

        .search-des {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: .5rem;

            &:hover {
                background-color: #e3e9f3de;
                cursor: pointer;
            }

            img {
                width: 80px;
                height: 80px;
                border-radius: 20px;

                @media (max-width: 900px) {
                    border-radius: 50%;
                }
            }
            .titleAndDate {
                width: 70%;
                font-size: 16px;
            }
            // .searchMovie-btn {
            //     padding: .2rem .5rem;
            //     background-color: #428bca;
            //     color: #fff;
            //     border: 1px solid #428bca;
            //     cursor: pointer;
            //     border-radius: 5px;
            //     font: 12px;
            //     z-index: 100;
            // }
        }
    }

    .footer {
        text-align: center;
        margin-top: 2rem;
    }
}

