.details {
    width: 80%;
    margin: 0 auto;
    font-family: 'Courier New', Courier, monospace;

    @media (max-width: 900px) {
        width: 100%;
    }

    .details-container {
        display: flex;
        justify-content: space-around;

        

        .menu-wrapper {
            padding: .2rem;
            width: fit-content;
            display: flex;
            gap: 2rem;
            z-index: 1000;
            font-size: 26px;
            cursor: pointer;
            position: fixed;
            top: -.6rem;
            width: 100%;
            background-color: #fff;
        }

        .nav {
            width: 20%;
            border: 1px solid #428bca;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;

            @media (max-width: 900px) {
                display: none;
            }

            p {
                display: flex;
                align-items: center;
                gap: 2.5rem;
                margin: 2.5rem 0;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                padding: .5rem 0;

                &:nth-child(2) {
                    cursor: pointer;
                }
            }
        }

        .main {
            width: 70%;

            .home-link {
                display: none;
                text-align: end;
                color:  #428bca;
                font-size: 20px;

                a {
                    color: #428bca;
                    font-size: 20px;
                    text-decoration: none;
                }
    
                @media (max-width: 900px) {
                    display: flex;
                    align-items: center;
                    gap: .5rem;
                }
            }

            .img-container {
                width: 100%;

                img {
                    width: 100%;
                    border-radius: 20px;
                }
            }
        }

        .date-des {
            display: flex;
            // justify-content: space-between;
            gap: 5rem;
        }
        .overview {
            display: flex;
            gap: 1rem;

            @media (max-width: 900px) {
                flex-direction: column !important;
            }
        }
    }
}